<!DOCTYPE html>
<html>
  <head>
    <title>User Dashboard</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
  <div class="dashboard">
    <h1>Welcome <span id="userName"></span>!</h1>
    
    <div id="userDetails" class="hidden">
        <h2>User Details:</h2>
        <p>Name: <%= user.name %><span id="nameDisplay"></span></p>
        <p>Email: <%=user.email %><span id="userEmail"></span></p>
        </div>
    </div>
    <script src="script.js">  
    </script>
    <style>
      .centered {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 20vh; /* This makes the div take up the full viewport height */
      }
    </style>
    <div class="centered">
      <button class="register-button" onclick="window.location.href='/register';">Register</button>
    </div>
</body>
</html>
